@import './mixins';
@import './variables';

.loginview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $color1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, $color5, $color4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, $color5, $color4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

    .loginform {
        border: 1px solid red;
        width: 500px;
        min-width: fit-content;
        height: 500px;
        min-height: fit-content;

        h1 {
            font-size: 3em;
        }
    }
}